<page-header></page-header>
<div zn-row>
    <div zn-row nzSpan="24" style="padding: 0 10px;">
        <div id="container"></div>
    </div>
</div>
<div zn-row>
    <div zn-row nzSpan="24" style="padding: 0 10px;">
        <div id="userActionTime-container"></div>
    </div>
</div>
<div zn-row>
    <div zn-row nzSpan="24" style="padding: 0 10px;">
        <div id="requestType-container"></div>
    </div>
</div>
<div zn-row>
    <div zn-row nzSpan="24" style="padding: 0 10px;">
        <div id="processType-container"></div>
    </div>
</div>
<div zn-row>
    <div zn-row nzSpan="24" style="padding: 0 10px;">
        <div id="processTeam-container"></div>
    </div>
</div>