<script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
<script src="https://code.highcharts.com.cn/highcharts/modules/parallel-coordinates.js"></script>
<page-header></page-header>
<div zn-row>
    <div zn-row nzSpan="24" style="padding: 0 10px;">
        <div id="userActiveTime-container"></div>
    </div>
</div>
<div zn-row>
    <div zn-row nzSpan="24" style="padding: 0 10px;">
        <div id="bulkAction-container"></div>
    </div>
</div>
<div zn-row>
    <div zn-row nzSpan="24" style="padding: 0 10px;">
        <div id="requestType-container"></div>
    </div>
</div>
<div zn-row>
    <div zn-row nzSpan="24" style="padding: 0 10px;">
        <div id="processType-container"></div>
    </div>
</div>
<div zn-row>
    <div zn-row nzSpan="24" style="padding: 0 10px;">
        <div id="processTeam-container" style="
            /* min-width: 310px;
            max-width: 800px; */
            margin: 0 auto"></div>
    </div>
</div>